/* style file */
/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  text-decoration: none;
  list-style: none;
}

ol, ul {
  padding-left: 0 !important;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}

a,
a:hover,
a:focus,
input,
button,
textarea,
button:hover,
button:focus {
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

body {
  /* overflow: hidden; */
  font-size: 14px;
  /* font-weight: 400; */
  font-family: "Poppins", sans-serif;
  color: #252525;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

a {
  /* color: #fff; */
  transition: all 0.3s linear;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0 ;

}


/* end globle css */
.nav-logo {
  width: 233px;
  min-height: 207px;
}
.navbar{
  z-index: 1;
  width: 99%;
  background-color:transparent;
  position: absolute;
}
.navbar-brand {
  margin-left: -8px;
  margin-top: -5px;
  padding: 0;
}

/* hambar menu */

.sidebar {
  position: fixed;
  width: 250px;
  min-height: 500px;
  right: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
  top: 0;
}
.sidebar.show{
 right: 0; 
}

.ham-btn {
  margin-right: 60px;
  min-height: 45px;
  width: 45px;
  background: #1b1b1b;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}
.ham-btn.click{
  /* right: 260px; */
  margin-right: 260px;
}


.ham-btn i {
  color: white;
  font-size: 35px;
  line-height: 45px;
}
.ham-btn.click i::before{
content: '\x';
}
.sidebar .text {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul.u-list {
  background: #1b1b1b;
  min-height: 100vh;
  width: 100%;
  list-style: none;

}

ol,
ul {
  padding-left: 0 !important;
}

nav ul.u-list li {

  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul.u-list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul.u-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
  position: relative;
}

nav ul.u-list li a:hover {
  color: #0dcaf0;
  background: #1b1b1b;
  border-left-color: #0dcaf0;
}

/*  */

.nav-lang {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 50px;
}
.nav-line {
  font-size: 33px;
  color: #ffffff;
  cursor: pointer;
}
.home-banner {
  min-height: 1080px;
  background: url(../images/2.webp) no-repeat center center/cover;
  background-color: black;
  padding-top: 250px;
}

.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

/* slic slider for banner */
 .priv-arrow,
 .next-arrow{
  position: absolute;
  width: 52px;
  height: 52px;
  border: 1px solid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 15px;
  z-index: 2;
  border: 1px solid;
}

.home-slider .priv-arrow:hover,
.home-slider .next-arrow:hover{
  background: #FFFFFF;
}

.home-slider .next-arrow{
  right: 81px;
  bottom: 80px;
}
.home-slider .priv-arrow{
  right: 180px;
  bottom: 80px;
}
/* slick slider for project */
.project-slider .next-arrow{
  top: -104px;
  right: 150px;

}
.project-slider .priv-arrow{
  right: 230px;
  top: -104px;
}
.project-slider .priv-arrow:hover,.project-slider .next-arrow:hover{
  background: #ED1D26;
}


/* slic slider for card */



/* .home-slider .slick-next,
.home-slider .slick-prev {
  top: 88% !important;
  z-index: 1;
} */ */
/* slick slider project section */

/* .project-section .slick-track {
  transform:none !important;
} */
.project-section .slick-prev{
  left: unset !important;
  right: 288px !important;
}
.project-section .slick-next{
  right:210px !important;
}
.project-section .slick-next, .project-section .slick-prev{
  top: -13% !important;
}
.project-section .slick-next:before, .project-section .slick-prev:before{
  font-size: 52px !important;
  color: red !important;
}

/* end slick slider */


/* banner */
.home-banner .home-info {
  position: relative;
  margin-top:75px;

}

.home-banner .home-info .h-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  color: #ffffff;
  padding-top: 40px;
}

.home-banner .home-info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  /* or 180% */
  color: #b0b0b0;

  margin: 37px 0 69px 0;
}

.home-banner .line-bar {
  background: #ffffff;
  position: absolute;
  width: 111px;
  min-height: 6px;
  top: -12px;
}

.book-now-btn {
  background: #ed1d26;
  width: 193px;
  min-height: 64px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  border: 1px solid transparent;
}

.book-now-btn:hover {
  background: transparent;
  color: #ed1d26;
  border: 1px solid #ed1d26;
}

/* OUR SERVICE SECTION */ 

.our-service-section {
  min-height: 940px;
  padding: 115px 0;
}

.service-header {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2-header{
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 17px;
}

.sub-header{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #606060;
}

.our-service-section .card {
  /* margin-top: 14px; */
  min-height: 530px;
}
.our-service-section .card{
  margin-right: 15px;
}
.our-service-section .card-2{
  margin-left: 15px;
}

.our-service-section .card .card-body{
  padding: 56px 0;
}
.our-service-section     .card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
}

.our-service-section     .card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  max-width: 450px;
  text-align: center;
margin: 12px auto 20px auto;
  color: #353535;
}

.our-service-section     .card-head {
  height: 294px;
}

.our-service-section     .card:hover {
  box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.25);
}

.our-service-section     .card:hover .card-title {
  color: red;
}




/* COLLECTION CONTAINER */
.collection-section {
  min-height: 1020px;
  position: relative;
}

.collection-section::before {
  content: "";
  width: 92%;
  min-height: 80%;
  background: #2a3c8f;
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.collection-section .media-icon {
  color: #ffff;
  font-size: 78px;
  text-align: center;
  cursor: pointer;
}

.collection-section h4.front-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin: 21px 0 8px 0;
}

.collection-section .front-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}

.collection-section .front-part {
  background: radial-gradient(
      50% 50% at 50% 50%,
      #030303 0%,
      rgba(3, 3, 3, 0) 85.54%
    ),
    url(../images/5.webp) no-repeat center center/cover;
  width: 91%;
  min-height: 86%;
  right: 0;
  top: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;

}
.front-part .center{
  width: 525px;
}


/* Project Container  */
.project-section {
  min-height: 1126px;
  overflow: hidden;
  padding: 90px 0;
}
.project-section .project-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:10px 0 60px;
}

.project-section .project-header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.4em;
  text-transform: uppercase;

  color: #000000;
}

.project-section .project-header h2 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 76px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0;
}

.project-section .card {
  width: 677px !important;
  min-height: 772px;
  position: relative;
  margin-right: 44px;
  border: none;
}

.project-section .card .card-top {
  min-height: 100%;
  width: 100%;
}

.project-section .card .image img {
  /* width: 676px; */
  min-height: 678px;
  object-fit: cover;
}

.project-section .card .card-buttom {
  width: 81%;
  min-height: 22%;
  background: #ffff;
  left: -1px;
  bottom: 0;
  position: absolute;
  padding: 30px;
}

.project-section .card-buttom h4.card-header-1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.project-section .card p.card-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  margin-top: 12px;
}

.project-section .project {
  width: 120%;
 
}

/* about container */

.about-section {
  padding: 118px 0;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}
.about-section .left-part{
  margin-right: 20px;
}
.about-section .right-part{
  margin: 50px 0 0 20px;
}
.about-section .about-header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #000000;
  max-width: 648px;
}

.about-section .about-header h2 span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  color: #000000;
  letter-spacing: 0;
  text-transform: none;
}

.about-section .right-part .para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  margin: 36px 0 8px;
}
.about-section .book-now-btn{
  margin: 39px 0 54px;
}

/* importent section */
.importent-section{
  padding: 113px 0;
}
.importent-section .sub-header{
  margin-bottom: 84px;
}
.importent-section .card-2 h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  margin: 38px 0 9px;
  color: #262626;
}
.importent-section .i-header{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.importent-section .card-2 h5:hover {
  color: #ed1d24;
}

.importent-section .card-2 .icon {
  text-align: center;
  color: #e11d26;
  font-size: 76px;
}

.importent-section .border0 {
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

.importent-section .card-2 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #262626;
  opacity: 0.8;
  max-width: 322px;
  margin: 0 auto;
}

/* gallery section */
.gallery-section .gallery{
  position: relative;
}
.gallery-section .gallery-center {
  width: 17%;
  min-height: 72%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-section .gallery-center:hover {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.gallery-section .gallery-center:hover p {
  color: #ed1d24;
}

.gallery-section .gallery-center h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  text-align: center;

  color: #000000;
}

.gallery-section .gallery-center p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.gallery .images {
  
 height: 348px;
}
 .gallery .image1 {
  background: url(../images/6.webp) no-repeat center center/cover;
}
 .gallery .image4{
  background: url(../images/10.webp) no-repeat center center/cover;

}
 .gallery .image3{
  background: url(../images/8.webp) no-repeat center center/cover;

}
 .gallery .image2{
  background: url(../images/9.webp) no-repeat center center/cover;

}

/* footer section */
.footer-section{
  padding: 70px 0 40px;
}

.footer-section .logo img{
  width: 126px;
}
.footer-section .media-icon .icon {
  font-size: 33px;
  color: #a3a3a3;
  cursor: pointer;
  margin: 42px 18px 30px 0;
}

.f-left .logo {
  cursor: pointer;
}

.footer-section .media-icon .icon:hover {
  color: #ed1d24;
}

.footer-section .media-icon{
  display: flex;
}
.footer-section .copy-right p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 209px;
  color: #797979;
}

.footer-section .f-menu .header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #212832;
  margin-bottom: 11px;
}

.footer-section .f-menu ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 36px;
  cursor: pointer;
  color: #696d76;
}

.footer-section .f-menu ul li a:hover {
  color: #ed1d26;
}

.footer-section .f-menu  span.icon {
 margin-right: 9px;
 color: #ed1d26;

}

/* style for responsive  */
/* media Quries */

@media (min-width: 1400px) {
  .container {
    max-width: 1419px;
  }
  /* babber */
}

@media only screen and (max-width: 1399px) {
  /* banner */

  .home-banner {
    min-height: 930px;
    padding-top: 175px;
  }
  .home-banner .home-info .h-title{
    padding-top: 30px;
  }

/* navbar */
  .nav-logo {
    width: 196px;
   min-height: 173px;
  }
  /* our service section */
  .service-header {
    margin-bottom: 50px;}
    .our-service-section {
      min-height: 868px;
      padding: 77px 0;
  }

  /* about container */
  .about-section .about-header h2 span {
    font-size: 43px;
    line-height: 54px;
  }
  .about-section .right-part .para {
    font-size: 17px;
    line-height: 28px;
  }

  /* importent section */
  .importent-section .card-2 .icon {
    font-size: 73px;
  }
  .importent-section .card-2 h5 {
    font-size: 23px;
    line-height: 31px;
  }
  .importent-section .card-2 p {
    font-size: 13px;
    line-height: 24px;
  }

  /* project section */
  .project-section .card {
    width: 550px !important;
  }

  /* gallery section */
  .gallery-section .gallery-center h3 {
    font-size: 41px;
    line-height: 59px;
  }
  .gallery-section .gallery-center p {
    font-size: 14px;
    line-height: 18px;
  }
  /* footer section */


  .footer-section .media-icon {
    font-size: 29px;
  }
  .footer-section .f-menu ul li a {
    font-size: 14px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 1200px) {
  /* banner */
  .home-banner {
    min-height: 1006px;
  }

  .home-banner .home-info .h-title {
    font-size: 72px;
    line-height: 86px;
  }

  .home-banner .home-info p {
    font-size: 17px;
    line-height: 31px;
    margin:25px 0 55px 0;
  }

  .home-banner .line-bar {
    width: 92px;
  }

  /* SERVICE SECTION */
  .our-service-section {
   min-height: 806px;
  }

  .h2-header{
    font-size: 46px;
    line-height: 57px;
  }

  .sub-header {
    font-size: 18px;
    line-height: 31px;
  }
  .our-service-section .card-2 {
    margin-left: 10px;
}
.our-service-section .card {
  margin-right: 10px;
}
.our-service-section .card .card-body {
  padding: 46px 0;
}

  /* COLLECTION SECTION */
  .collection-section {
   min-height: 861px;
  }

  .collection-section h4.front-header {
    font-size: 39px;
    margin: 14px 0 8px 0;
    line-height: 48px;
  }
  /* PROJECT SECTION
       */
  .project-section .project-header h2 {
    font-size: 19px;
    line-height: 25px;
  }
  .project-section .project-header h2 span {
    font-size: 45px;
    line-height: 66px;
  }
  .project-section .card {
    width: 403px !important;
    min-height: 518px;
    margin-right: 26px;
}
  .project-section .card-buttom h4.card-header-1 {
    font-size: 26px;
  }

  .project-section .card .card-buttom {
    bottom: -80px;
}

  /* slick slider */
  .project-section .slick-next,
  .project-section .slick-prev {
    top: -15% !important;
  }
  .project-section .slick-next:before,
  .project-section .slick-prev:before {
    font-size: 37px !important;
  }
  .project-section {
   min-height: 928px;
  }
  .project-section .card .image img {
    min-height: 435px;
}
  .project-section .card p.card-text {
    line-height: 25px;
  }
  /* about section 
     */
     .about-section {
      padding: 78px 0;}
      .about-section .right-part {
        margin: 40px 0 0 15px;
    }
    .about-section .left-part {
      margin-right: 15px;
  }
  .about-section .about-header h2 span {
    font-size: 34px;
    line-height: 48px;
  }
  .about-section .about-header h2 {
    font-size: 23px;
    line-height: 30px;
  }
  .about-section .book-now-btn {
    margin: 28px 0 46px;
}
  .about-section .right-part .para {
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0 8px;
  }

  /* importent section */
  .importent-section{
    padding: 78px 0;
  }
  .importent-section .sub-header {
    margin-bottom: 56px;
}
  .importent-section .card-2 h5 {
    font-size: 21px;
    line-height: 29px;
    margin: 22px 0 9px;
  }
  .importent-section .card-2 .icon {
    font-size: 67px;
  }
  .importent-section .card-2 p {
    font-size: 12px;
    line-height: 19px;
  }

  /* gallery section */
  .gallery-section .gallery-center h3 {
    font-size: 33px;
    line-height: 50px;
  }
  .gallery-section .gallery-center p {
    font-size: 12px;
    line-height: 14px;
  }
  .project-section .project-header {
    padding: 10px 0 31px;
}
  /* footer section */


  .footer-section .f-menu ul li a {
    font-size: 11px;
    line-height: 30px;
  }
}

/* laptop */
@media only screen and (max-width: 991px) {
  /* banner */
  .home-banner {
    min-height: 799px;
    padding-top:118px;
  }
  
  .slick-next:before,
  .slick-prev:before {
    font-size: 45px !important;
  }
  .nav-logo {
    width: 132px;
   min-height: 125px;
  }

  .home-banner .home-info .h-title {
    padding-top:20px;
    font-size: 64px;
    line-height: 77px;
  }

  .home-banner .home-info p {
    font-size: 15px;
    line-height: 29px;
  
  }

  .book-now-btn {
    width: 170px;
   min-height: 57px;
    font-size: 14px;
    line-height: 23px;
  }

  .home-banner .line-bar {
    width: 80px;
  }
  /* OUR SERVICE */
  .our-service-section     .card-head {
   min-height: 242px;
  }
  .our-service-section .card {
    margin-right: 0; 
    
}
.our-service-section .card-2 {
  margin-left: 0;
}

  /* SERVICE SECTION */
  .h2-header{
    font-size: 40px;
    line-height: 50px;
  }
      .card {
   min-height: 451px;
  }
  .our-service-section     .card-head {
   min-height: 200px;
  }
  .our-service-section .card {
    min-height: 486px;
}
  .our-service-section .card-text {
    font-size: 14px;
    line-height: 24px;}
    .our-service-section .card .card-body {
      padding: 34px 0;
  }

  /* COLLTECTION SECTION */
  .collection-section {
   min-height: 794px;
  }
  /* PROJECT SECTION */
  .project-section .project-header h2 span {
    font-size: 37px;
    line-height: 60px;
  }
  .project-section {
   min-height: 893px;
  }
 
  .project-section .card-buttom h4.card-header-1 {
    font-size: 20px;
    line-height: 26px;
  }
  .project-section .card p.card-text {
    line-height: 15px;
    font-size: 12px;
  }
  .project-section .slick-next,
  .project-section .slick-prev {
    top: -7% !important;
  }
  .project-section .slick-next {
    right: 117px !important;
  }
  .project-section .slick-prev {
    right: 170px !important;
  }
  .project-section .card .image img {
    width: 398px;
   min-height: 554px;
  }
  .project-section .card {
    width: 398px !important;
    margin-right: 30px;
     min-height: 620px;
  
  }
  /* slider */
  .slick-slider .slick-list, .slick-slider .slick-track{
    height: 628px;
    overflow: hidden;
  }
  .project-section .card .card-buttom{
    padding: 22px;
    bottom: -4px;
  }
  .project-slider .next-arrow {
    top: -118px;
    right: 75px;
}
.project-slider .priv-arrow {
  right: 168px;
  top: -117px;
}

  /* about section */
  .about-section .about-header h2 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.3rem;
  }
  .about-section .about-header h2 span {
    font-size: 24px;
    line-height: 38px;
  }
  .about-section .right-part .para {
    font-size: 13px;
    line-height: 20px;
    margin: 16px 0 8px;
  }
  .about-section .right-part {
    margin: 34px 0 0 0px;
}
  /* importent section */
  .importent-section .card-2 h5 {
    font-size: 19px;
    line-height: 29px;
  }
  .importent-section .card-2 .icon {
    font-size: 58px;
  }
  .importent-section .card-2 p {
    font-size: 11px;
    line-height: 19px;
  }

  /* gallery section  */
  .gallery-section .gallery-center {
    width: 328px;
   min-height: 253px;
  }
  .gallery-section .gallery-center h3 {
    font-size: 44px;
    line-height: 64px;
  }
  .gallery-section .gallery-center p {
    font-size: 14px;
    line-height: 21px;
  }
  .gallery-section .image3,.gallery-section .image4{
    margin-top: 15px;
  }
  
  /* footer section */
  .footer-section .f-menu ul li a {
    font-size: 11px;
    line-height: 24px;
  }
  .footer-section .copy-right p {
    font-size: 12px;
    line-height: 22px;
  }
  .footer-section .media-icon {
    font-size: 22px;
  }
  .footer-section {
    padding: 55px 0 26px;
}
.footer-section .f-menu .header {
  margin-bottom: 5px;
}
.footer-section .media-icon .icon {
  font-size: 23px;
  margin: 31px 18px 16px 0;
}
.footer-section .logo img {
  width: 98px;
}
}

/* tablet */
@media only screen and (max-width: 767px) {

 /* navbar */
  .nav-logo {
    width: 111px;
   min-height: 109px;
  }
  .ham-btn,.nav-lang{
    margin-right:40px;
  }


  /* banner */

  .home-banner {
    min-height: 730px;
    padding-top: 79px;
  }
  .home-banner .line-bar {
    width: 69px;
    top: -3px;
  }
  .home-banner .home-info p{
    margin: 15px 0 35px 0 ;
  }

  /* slider  */
  .slick-next {
    right: 80px;
  }
  .slick-prev {
    right: 153px;
  }

  .home-slider .next-arrow{
    right: 50px;
    bottom: 50px;
  }
  .home-slider .priv-arrow{
    bottom: 50px;
    right: 100px;
  }
  .priv-arrow, .next-arrow{
    width: 40px;
    height: 40px;
  }

  /* our service  */
  .our-service-section .card {
    margin: 0 0 40px 0; 
    
}


  /* SERVICE SECTION */
  .h2-header {
    font-size: 37px;
    line-height: 46px;
  }
  .our-service-section {
   min-height: auto;
  }

  /* COLLECTION */
  .collection-section {
   min-height: 666px;
  }

  .collection-section h4.front-header {
    font-size: 35px;
    line-height: 46px;
  }
  .collection-section .media-icon {
    font-size: 57px;}


  /* PROJECT SECTION */
  .project-section {
   min-height: 734px;
  }
  .project-section .project-header h2 span {
    font-size: 29px;
    line-height: 46px;
  }

  .project-section .project-header h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .project-section .card {
    width: 285px !important;
   min-height: 492px;
   height: 498px;
  }
  .project-section .card-buttom h4.card-header-1 {
    font-size: 20px;
    line-height: 21px;
  }
  .project-section .card p.card-text {
    font-size: 12px;
    line-height: 17px;
  }
  .project-section .slick-next:before, .project-section .slick-prev:before {
    font-size: 23px !important;
}
.project-section .slick-next {
  right: 64px !important;
}
.project-section .slick-prev {
  right: 99px !important;
}
.project-section .card .image img {
  width: 100%;
  min-height: 400px;
}
.project-section .card .card-buttom {
  padding: 17px;
  bottom: 0px;
}
.slick-slider .slick-list, .slick-slider .slick-track {
  height: 501px;
}
.project-section {
  padding: 53px 0;
}
.project-slider .priv-arrow {
  right: 110px;
  top: -94px;
}
.project-slider .next-arrow {
  top: -94px;
  right: 43px;}

  /* about section */
  .about-section .about-header h2 span {
    font-size: 25px;
    line-height: 39px;
  }
  .about-section .about-header h2 {
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.3rem;
  }
  .about-section .left-part {
    margin-right: 0;
}
  .about-section .right-part .para {
    font-size: 15px;
    line-height: 24px;
  }
  .about-section .right-part {
    margin: 63px 0 0 0px;
}
  /* importent section */
  .importent-section .card-2 .icon {
    font-size: 44px;
  }
  .sub-header {
    font-size: 17px;
    line-height: 25px;
}
.importent-section {
  padding: 59px 0;
}
  .importent-section .sub-header {
    margin-bottom: 47px;
}
  .importent-section .card-2 h5 {
    font-size: 14px;
    line-height: 22px;
    margin: 11px 0 10px;
  }
  .importent-section .card-2 p {
    font-size: 11px;
    line-height: 15px;
  }
  /* gallery section */
  .gallery-section .gallery-center h3 {
    font-size: 40px;
    line-height: 58px;
  }
  .gallery-section .gallery-center {
    width: 273px;
   min-height: 214px;
  }
  .gallery-section .gallery-center p {
    font-size: 13px;
    line-height: 20px;
  }
/* footer section */
.footer-section .d-center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-section .f-menu .header {
  
  margin-top: 15px;
}
.footer-section .f-menu.margin-1{
  margin-right: 20px;
}
.footer-section .f-menu.margin-2{
  margin-left: 24px;
}

}

@media only screen and (max-width: 576px) {

  /* navbar */
  .ham-btn, .nav-lang {
    margin-right: 29px;
}
  /* banner */
  .home-banner {
    min-height: 646px;
    padding-top: 56px;
  }

  .home-banner .home-info .h-title {
    font-size: 53px;
    line-height: 66px;
  }
/* home slider */
  .home-slider .slick-next:before,
  .home-slider .slick-prev:before {
    font-size: 41px !important;
  }
  .home-slider .slick-next {
    right: 65px;
  }
  .home-slider .slick-prev {
    right: 129px;
  }

  .home-info {
    margin-left: 20px;
  }

  /* service section */
  .sub-header {
    font-size: 16px;
    line-height: 28px;
  }

  .collection-section {
   min-height: 586px;
  }
  /* importent section */
  .importent-section .card-2{
    margin: 20px 0;
  }
  .importent-section .card-2 h5 {
    font-size: 20px;
    line-height: 31px;
  }
  .importent-section .sub-header {
    margin-bottom: 27px;
}
  .importent-section .card-2 p {
    font-size: 13px;
    line-height: 15px;
  }

  .importent-section .b-none {
    border-left: none !important;
    border-right: none !important;
  }
  /* ptoject container */
  
  .project-section .project-header {
    padding: 10px 0 11px;
}
  .project-section {
   min-height: 666px;
  }
  .project-slider .priv-arrow {
    right: 157px;
    top: -57px;
  
}
.project-slider .next-arrow {
  top: -57px;
  right: 113px;
}
.priv-arrow, .next-arrow {
  width: 25px;
    height: 25px;
    font-size: 10px;
}


  /* gallery section */
  .gallery-section .gallery-center {
    width: 234px;
   min-height: 172px;
  }
  .gallery-section .image2{
    margin-top: 15px;
  }
  .gallery .images {
    height: 311px;
}
  .gallery-section .gallery-center h3 {
    font-size: 35px;
    line-height: 53px;
  }
  .gallery-section .gallery-center p {
    font-size: 12px;
    line-height: 17px;
  }
}

/* mobile  */
@media only screen and (max-width: 479px) {
  .nav-logo {
    width: 104px;
   min-height: 103px;
  }

  /* banner section */
  .home-info {
    margin-left: 10px;
  }

  .book-now-btn {
    width: 143px;
   min-height: 51px;
    font-size: 12px;
    line-height: 17px;
  }

  /* SERVICE SECTION */

  .h2-header{
    font-size: 31px;
    line-height: 41px;
  }

  /* COLLECTION SECTION */
  .collection-section {
   min-height: 550px;
  }

  .collection-section h4.front-header {
    font-size: 23px;
    line-height: 33px;
    margin: 8px 0 8px 0;
  }

  .collection-section .front-text {
    font-size: 12px;
    line-height: 27px;
  }

  .collection-section .center {
    width: 85% !important;
  }

  .collection-section .media-icon {
    font-size: 31px;
  }
  /* PROJECT SECTION */
  .project-section .project-header h2 span {
    font-size: 22px;
    line-height: 41px;
  }
  .project-section .project-header h2 {
    font-size: 14px;
    line-height: 17px;
  }
  .project-section .card {
    width: 350px;
    margin-right: 13px;
   min-height: 450px;
  }
  .project-section .card-buttom h4.card-header-1 {
    font-size: 17px;
    line-height: 16px;
  }
  .project-section .card p.card-text {
    font-size: 10px;
    line-height: 18px;
  }
  /* aboit container */
  .about-section .right-part .para {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 379px) {
  .home-banner .home-info .h-title {
    font-size: 42px;
    line-height: 57px;
  }
  .home-info {
    margin-left: 0;
  }

  .home-banner .line-bar {
    width: 50px;
  }

  /* SERVICE SECTION */

  .h2-header{
    font-size: 21px;
    line-height: 36px;
  }

  .sub-header {
    font-size: 14px;
    line-height: 22px;
  }
  .our-service-section     .card-head {
   min-height: 243px;
  }
  .our-service-section     .card-text {
    font-size: 13px;
    line-height: 27px;
  }
  .our-service-section     .card-title {
    font-size: 20px;
    line-height: 26px;
  }

  /* COLLECTION SECTION */
  .collection-section {
   min-height: 309px;
  }

  .collection-section h4.front-header {
    font-size: 20px;
    line-height: 33px;
  }

  .collection-section .front-text {
    font-size: 10px;
    line-height: 23px;
  }
  .collection-section .media-icon {
    font-size: 27px;
  }
  /* PROJECT SECTION */
  .project-section .project-header h2 span {
    font-size: 18px;
    line-height: 38px;
  }
  .project-section .project-header h2 {
    font-size: 13px;
    line-height: 11px;
  }
  .project-section .card {
    width: 300px;

   min-height: 400px;
  }
  .project-section .card-buttom h4.card-header-1 {
    font-size: 13px;
    line-height: 16px;
  }
  .project-section .card .image img {
    width: 100%;
    min-height: 350px;
}

  /* about section */
  .about-section .about-header h2 {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.3rem;
  }
  .about-section .about-header h2 span {
    font-size: 22px;
    line-height: 34px;
  }
  .about-section .right-part .para {
    font-size: 11px;
    line-height: 16px;
  }
  .about-section {
    padding: 50px 0;
}
.about-section .right-part {
  margin: 38px 0 0 0px;
}
  /* gallery section */
  .gallery-section .gallery-center {
    width: 188px;
   min-height: 142px;
  }
  .gallery-section .gallery-center h3 {
    font-size: 30px;
    line-height: 48px;
  }
  .gallery-section .gallery-center p {
    font-size: 10px;
    line-height: 12px;
  }
}
