/* media Quries */


@media (min-width: 1400px) {
    .container {
      max-width: 1419px;
    }
    /* babber */
    
  }
  
  @media only screen and (max-width: 1399px) {
    /* banner */

    .home-banner {
      min-height: 1054px;
      padding-top: 175px;
    }

    .nav-logo {
      width: 196px;
      height: 173px;
    }
    .about-container .about-header h2 span {
      font-size: 43px;
      line-height: 54px;
    }
    /* about container */
    .about-container .right-part .para {
      font-size: 17px;
      line-height: 28px;
    }
    /* importent section */
    .importent-container .card-2 .icon {
      font-size: 73px;
    }
    .importent-container .card-2 h5 {
      font-size: 23px;
      line-height: 31px;
    }
    .importent-container .card-2 p {
      font-size: 13px;
      line-height: 24px;
    }

 

  .project-container .card-1 {
    width: 550px !important;}

    /* gallery section */
    .gallery-container .gallery-center h3 {
      font-size: 41px;
      line-height: 59px;
    }
    .gallery-container .gallery-center p {
      font-size: 14px;
      line-height: 18px;
    }
    /* footer section */
    .footer-container .f-left {
      width: 73%;
    }
    .footer-container .media-icon {
      font-size: 29px;
    }
    .footer-container .f-menu ul li a {
      font-size: 14px;
      line-height: 34px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    /* banner */
    .home-banner {
      min-height: 1006px;}
      
    
    .home-banner .home-info .h-title {

      font-size: 72px;
      line-height: 86px;
    }
  
    .home-banner .home-info p {
      font-size: 17px;
      line-height: 31px;
    }
  
    .home-banner .line-bar {
      width: 92px;
    }
  
    /* SERVICE SECTION */
    .our-service-container {
      height: 806px;}

    .h2-header,
    .importent-container .i-header h2 {
      font-size: 46px;
      line-height: 57px;
    }
  
    .sub-header,
    .importent-container .i-header p {
      font-size: 18px;
      line-height: 31px;
    }
  
    /* COLLECTION SECTION */
    .collection-container {
      height: 861px;
    }
  
    .collection-container .front-header h4 {
      font-size: 39px;
      line-height: 48px;
    }
    /* PROJECT SECTION
       */
    .project-container .project-header h2 {
      font-size: 19px;
      line-height: 25px;
    }
    .project-container .project-header h2 span {
      font-size: 45px;
      line-height: 66px;
    }
    .project-container .card-1 {
      width: 502px !important;
      height: 665px;
  }
  .project-container .card-buttom .card-header-1 h4 {
    font-size: 26px;}

    .project-container .card-1 .card-buttom {
      bottom: -2px;}

  /* slick slider */
  .project-container .slick-next, .project-container .slick-prev {
    top: -15% !important;
}
.project-container .slick-next:before, .project-container .slick-prev:before {
  font-size: 37px !important;
}
.project-container {
  height: 928px;
}
.project-container .card-1 .image img {
  width: 503px;
  height: 616px;
}
.project-container .card-1 .card-text p {
  line-height: 25px;
}
    /* about section 
     */
    .about-container .about-header h2 span {
      font-size: 34px;
      line-height: 48px;
    }
    .about-container .about-header h2 {
      font-size: 23px;
      line-height: 30px;
    }
    .about-container .right-part .para {
      font-size: 15px;
      line-height: 25px;
    }
    /* importent section */
    .importent-container .card-2 h5 {
      font-size: 21px;
      line-height: 29px;
    }
    .importent-container .card-2 .icon {
      font-size: 67px;
    }
    .importent-container .card-2 p {
      font-size: 12px;
      line-height: 19px;
    }
    /* gallery section */
    .gallery-container .gallery-center h3 {
      font-size: 33px;
      line-height: 50px;
    }
    .gallery-container .gallery-center p {
      font-size: 12px;
      line-height: 14px;
    }
    /* footer section */
    .footer-container .f-left {
      width: 90%;
    }
    .footer-container .f-menu ul li a {
      font-size: 11px;
      line-height: 30px;
    }
  }
  
  /* laptop */
  @media only screen and (max-width: 991px) {
     /* banner */
     .home-banner {
      min-height: 799px;}
      .slick-next:before, .slick-prev:before {
        font-size: 45px !important;
    }
    .nav-logo {
      width: 132px;
      height: 125px;
    }
  
    .home-banner .home-info .h-title {
      font-size: 64px;
      line-height: 77px;
    }
  
    .home-banner .home-info p {
      font-size: 15px;
      line-height: 29px;
    }
  
    .book-now-btn {
      width: 170px;
      height: 57px;
      font-size: 14px;
      line-height: 23px;
    }
  
    .home-banner .line-bar {
      width: 80px;
    }
    /* OUR SERVICE */
    .our-service-container .service-body .card-head {
      height: 242px;
  }
  
    /* SERVICE SECTION */
    .h2-header,
    .importent-container .i-header h2 {
      font-size: 40px;
      line-height: 50px;
    }
  .service-body .card {
    height: 451px;
}
.our-service-container .service-body .card-head {
  height: 200px;
}

    /* COLLTECTION SECTION */
    .collection-container {
      height: 794px;
    }
    /* PROJECT SECTION */
    .project-container .project-header h2 span {
      font-size: 37px;
      line-height: 60px;
    }
    .project-container {
      height: 893px;
  }
    .project-container .card-1 {
      width: 550px;
  
      height: 620px;
    }
    .project-container .card-buttom .card-header-1 h4 {
      font-size: 25px;
      line-height: 34px;
    }
  
    /* about section */
    .about-container .about-header h2 {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.3rem;
    }
    .about-container .about-header h2 span {
      font-size: 24px;
      line-height: 38px;
    }
    .about-container .right-part .para {
      font-size: 13px;
      line-height: 20px;
    }
    /* importent section */
    .importent-container .card-2 h5 {
      font-size: 19px;
      line-height: 29px;
    }
    .importent-container .card-2 .icon {
      font-size: 58px;
    }
    .importent-container .card-2 p {
      font-size: 11px;
      line-height: 19px;
    }
    /* gallery section  */
    .gallery-container .gallery-center {
      width: 328px;
      height: 253px;
    }
    .gallery-container .gallery-center h3 {
      font-size: 44px;
      line-height: 64px;
    }
    .gallery-container .gallery-center p {
      font-size: 14px;
      line-height: 21px;
    }
    /* footer section */
    .footer-container .f-menu ul li a {
      font-size: 11px;
      line-height: 24px;
    }
    .footer-container .copy-right p {
      font-size: 12px;
      line-height: 22px;
    }
    .footer-container .media-icon {
      font-size: 22px;
    }
  }
  
  /* tablet */
  @media only screen and (max-width: 767px) {
   /* banner */
   .home-banner {
    min-height: 730px;
}
    .nav-logo {
      width: 111px;
      height: 109px;
    }
  
    .home-banner .line-bar {
      width: 69px;
      top: -3px;
    }
    .slick-next {
      right: 80px;
  }
  .slick-prev {
    right: 153px;
}



  
    /* SERVICE SECTION */
    .h2-header {
      font-size: 37px;
      line-height: 46px;
    }
    .our-service-container {
      height: auto;
  }
    /* COLLECTION */
    .collection-container {
      height: 666px;
    }
  
    .collection-container .front-header h4 {
      font-size: 35px;
      line-height: 46px;
    }
    /* PROJECT SECTION */
    .project-container {
      height: 734px;
  }
    .project-container .project-header h2 span {
      font-size: 29px;
      line-height: 46px;
    }
    .project-container .project-header h2 {
      font-size: 18px;
      line-height: 20px;
    }
    .project-container .card-1 {
      width: 444px;
      height: 492px;
    }
    .project-container .card-buttom .card-header-1 h4 {
      font-size: 20px;
      line-height: 21px;
    }
    .project-container .card-1 .card-text p {
      font-size: 12px;
      line-height: 20px;
    }

    /* about section */
    .about-container .about-header h2 span {
      font-size: 25px;
      line-height: 39px;
    }
    .about-container .about-header h2 {
      font-size: 21px;
      line-height: 27px;
      letter-spacing: 0.3rem;
    }
    .about-container .right-part .para {
      font-size: 15px;
      line-height: 24px;
    }
    /* importent section */
    .importent-container .card-2 .icon {
      font-size: 44px;
    }
    .importent-container .card-2 h5 {
      font-size: 14px;
      line-height: 22px;
    }
    .importent-container .card-2 p {
      font-size: 11px;
      line-height: 15px;
    }
    /* gallery section */
    .gallery-container .gallery-center h3 {
      font-size: 40px;
      line-height: 58px;
    }
    .gallery-container .gallery-center {
      width: 273px;
      height: 214px;
    }
    .gallery-container .gallery-center p {
      font-size: 13px;
      line-height: 20px;
    }
  }
  
  @media only screen and (max-width: 576px) {
   /* banner */
   .home-banner {
    min-height: 646px;
}
   
    .home-banner .home-info .h-title {
      font-size: 53px;
      line-height: 66px;
    }
  
    /* service section */
    .sub-header,
    .importent-container .i-header p {
      font-size: 16px;
      line-height: 28px;
    }
  
    .collection-container {
      height: 586px;
    }
    /* importent section */
    .importent-container .card-2 h5 {
      font-size: 20px;
      line-height: 31px;
    }
    .importent-container .card-2 p {
      font-size: 13px;
      line-height: 15px;
    }
  
    .importent-container .b-none {
      border-left: none !important;
      border-right: none !important;
    }
    /* ptoject container */
    .project-container {
      height: 666px;
  }
  
    /* gallery section */
    .gallery-container .gallery-center {
      width: 234px;
      height: 172px;
    }
    .gallery-container .gallery-center h3 {
      font-size: 35px;
      line-height: 53px;
    }
    .gallery-container .gallery-center p {
      font-size: 12px;
      line-height: 17px;
    }
  }
  
  /* mobile  */
  @media only screen and (max-width: 479px) {
    .nav-logo {
      width: 104px;
      height: 103px;
    }
  
    .book-now-btn {
      width: 143px;
      height: 51px;
      font-size: 12px;
      line-height: 17px;
    }
  
    /* SERVICE SECTION */
  
    .h2-header,
    .importent-container .i-header h2 {
      font-size: 31px;
      line-height: 41px;
    }
  
    /* COLLECTION SECTION */
    .collection-container {
      height: 550px;
    }
  
    .collection-container .front-header h4 {
      font-size: 23px;
      line-height: 37px;
    }
  
    .collection-container .front-text {
      font-size: 12px;
      line-height: 27px;
    }
  
    .collection-container .center {
      width: 85% !important;
    }
  
    .collection-container .media-icon {
      font-size: 31px;
    }
    /* PROJECT SECTION */
    .project-container .project-header h2 span {
      font-size: 22px;
      line-height: 41px;
    }
    .project-container .project-header h2 {
      font-size: 14px;
      line-height: 17px;
    }
    .project-container .card-1 {
      width: 350px;
  
      height: 450px;
    }
    .project-container .card-buttom .card-header-1 h4 {
      font-size: 17px;
      line-height: 16px;
    }
    .project-container .card-1 .card-text p {
      font-size: 10px;
      line-height: 18px;
    }
    /* aboit container */
    .about-container .right-part .para {
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  @media only screen and (max-width: 379px) {
    .home-banner .home-info .h-title {
      font-size: 42px;
      line-height: 57px;
    }
  
    .home-banner .line-bar {
      width: 50px;
    }
  
    /* SERVICE SECTION */
  
    .h2-header,
    .importent-container .i-header h2 {
      font-size: 21px;
      line-height: 36px;
    }
  
    .sub-header,
    .importent-container .i-header p {
      font-size: 14px;
      line-height: 22px;
    }
    .our-service-container .service-body .card-head {
      height: 243px;
    }
    .our-service-container .service-body .card-text {
      font-size: 13px;
      line-height: 27px;
    }
    .our-service-container .service-body .card-title {
      font-size: 20px;
      line-height: 26px;
    }
  
    /* COLLECTION SECTION */
    .collection-container {
      height: 309px;
    }
  
    .collection-container .front-header h4 {
      font-size: 20px;
      line-height: 33px;
    }
  
    .collection-container .front-text {
      font-size: 10px;
      line-height: 23px;
    }
    .collection-container .media-icon {
      font-size: 27px;
    }
    /* PROJECT SECTION */
    .project-container .project-header h2 span {
      font-size: 18px;
      line-height: 38px;
    }
    .project-container .project-header h2 {
      font-size: 13px;
      line-height: 11px;
    }
    .project-container .card-1 {
      width: 300px;
  
      height: 400px;
    }
    .project-container .card-buttom .card-header-1 h4 {
      font-size: 13px;
      line-height: 16px;
    }
    /* about section */
    .about-container .about-header h2 {
      font-size: 19px;
      line-height: 25px;
      letter-spacing: 0.3rem;
    }
    .about-container .about-header h2 span {
      font-size: 22px;
      line-height: 34px;
    }
    .about-container .right-part .para {
      font-size: 11px;
      line-height: 16px;
    }
    /* gallery section */
    .gallery-container .gallery-center {
      width: 188px;
      height: 142px;
    }
    .gallery-container .gallery-center h3 {
      font-size: 30px;
      line-height: 48px;
    }
    .gallery-container .gallery-center p {
      font-size: 10px;
      line-height: 12px;
    }
  }
  